* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav{
  background: #1b1b1b;
}

nav:after{
  content:'';
  clear:both;
  display: table;
}

.logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}

nav ul{
  float:right;
  list-style:none;
  margin-right: 40px;
  position: relative;
}
nav ul li{
  float:left;
  display: inline-block;
  background: none;
  margin: 0 20px;
}
nav ul li a{
  color:white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;

}
nav ul ul{
  position: absolute;
  top:90px;
  border-top: 3px solid #c29525;
  opacity: 0;
  visibility: hidden;
  background: #1b1b1b;
  transition: top .3s;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}

nav ul li a:hover{
  color:#c29525;
  border-radius: 5px;
  box-shadow: 0 0 5px #c29525,
        0 0 5px #c29525;
}
nav ul ul li a:hover{
  color: #c29525;
  box-shadow: 0 0 5px #c29525f,
        0 0 5px #c29525;
}
nav ul li:hover > ul{
  top:70px;
  opacity: 1;
  visibility: visible;
}









<!-- ---------------------- Hal 1 -------------------------->
.viral{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 4rem 0;
}

.section-heading {
  font-family: "Muli", serif;
  font-size: 3rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 0rem;
}

.underline {
  width: 12rem;
  height: 0.2rem;
  background-color: #c29525;
}



.wadahfillcont{
	display: grid;
  grid-template-columns: 33% 33% 33%;

}
.fillcont {
width: 95%;
margin: 10px;
float: center;
margin-top: 0px;
text-align: center;
}

.fillcont h1{
	font-family: "Muli", serif;
  font-size: 2rem;
  font-weight: 300;
  color: #1b1b1b;
  margin-bottom: 20px;
}

.fillcont p{
	font-family: "Muli", serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 2px;
}


.banyak {
  width: 100%;
  height: 27rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: relative;
}

.banyak-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.banyak-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}
<!-- ---------------------- Hal 2 -------------------------->
.best{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #1b1b1b;
}

.iku{
    display: grid;
    grid-template-columns: 50% 50%;
}
.banyak3 {
  width: 100%;
  height: 25rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: relative;
  background: #fff;
}
.banyak3 h1{
  font-family: "Baloo da 2", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;
}
.banyak3 p{
  font-family: "Baloo da 2", serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
}
.banyak4 {
  width: 100%;
  height: 20rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: relative;
  background: #fff;
}
.fillcont {
width: 95%;
margin: 10px;
float: center;
margin-top: 0px;
text-align: center;
}








<!-- ---------------------- Hal 3 -------------------------->

.favorit{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
}
.bagi{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.banyak2 {
  width: 100%;
  height: 15rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: relative;
}

<!-- ---------------------- Hal 3 -------------------------->

.footer{
   width: 100%;
  height: 60%;
  position: relative;
  margin-top: 10px;

}
.footer .container{
   width: 100%;
  height: 100%;
  background-color: #fff;
}

.footer-bagi{
    display: grid;
    grid-template-columns: 50% 50% ;
}

.about{
    width: 95%;
    text-align: center;
    margin-top: 20px;
}
.about h2, p{
  color: #fff;
  margin-bottom: 40px;
}

.instagram{
    width: 95%;
    text-align: center; 
    margin-top: 20px;
}
.instagram h2, p{
  color: #fff;
  margin-bottom: 10px;
}
.wadah {
  width: 30%;
float: left;
margin: 5px;
 }
 .wadah1{
   width: 100%;
  height: 10rem;
 }
 .instagram-img-wrapper {
  width: 100%;
   height: 10rem;

 
}
.instagram-img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  width: 100%;
  height: 20rem;
  position: relative;
  background: #1b1b1b;
}





@media (max-width: 1200px){

}
@media (max-width: 900px){
	.fillcont{ 
	width: 90%;
  	margin: 5px;
  	float: center;
  }
  .banyak{
  	height: 300px;
  }


}
@media (max-width: 700px){
	.fillcont{ 
	width: 90%;
  	margin: 5px;
  	float: center;
  }
  .banyak{
  	height: 250px;
  }


}
@media (max-width: 500px){
	.fillcont{ 
	width: 90%;
  	margin: 5px;
  	float: center;
  }
  .fillcont h1{
    font-size: 1.5rem;
  }
  .fillcont p{
    font-size: 1rem;
  }

  .wadahfillcont{
  display: grid;
  grid-template-columns: 100%;

}
.banyak{

}

  .iku{
    display: grid;
    grid-template-columns: 100%;
}
.banyak3 {
  width: 100%;
  height: 20rem;
  
}
.banyak4 {
  width: 100%;
  height: 15rem;

}



  .bagi{
    display: grid;
    grid-template-columns: 50% 50%;
}
  .banyak2{
    height: 7rem;
  }
  .wadahfillcont{
  	text-align: center;
  }

}